<ion-header>  
  <ion-navbar>
    <ion-title>
      {{ currentDriver.name }}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content #content>  
  <ion-refresher (ionRefresh)="onLoadMore($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loaded">
    <div *ngFor="let day of daysActivity">
      <p padding-left class="date-string">{{ day.date }}</p>

      <div *ngFor="let stop of day.stops" class="stop-msg" [ngClass]="stop.status" (click)="onHold($event, stop)">
        <p>{{ stop.address }}</p>
        <p><span *ngIf="stop.type == 'do'">{{ "Drop Off" }}</span><span *ngIf="stop.type == 'pu'">{{ "Pick Up" }}</span><span *ngIf="stop.type == 'sw'">{{ "Switch" }}</span> | {{ stop.size }} <span *ngIf="stop.timeFulfilled">|</span> {{ stop.timeFulfilled }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="empty" text-center>
    <p>No stops added yet</p>
  </div>
  <div *ngIf="loader" text-center>
    <ion-spinner></ion-spinner>
  </div>
</ion-content>  

<ion-footer>
  <ion-toolbar padding>
    <div class="stop-input" *ngIf="connected">
      <ion-grid>
        <ion-row>
          <ion-col col-11 no-padding class="address-input">
            <ion-searchbar [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()" placeholder="Address"></ion-searchbar>
            <ion-list no-margin>
              <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
                {{ item }}
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-1 no-padding>
            <ion-buttons end>
              <button ion-button icon-only (click)="toggleComment()">
                <ion-icon [name]="hasComment ? 'remove' : 'add'"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="hasComment">
          <ion-col col-12 no-padding>
            <ion-input class="text-input comment-input" type="text" placeholder="Comment" [(ngModel)]="comment"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 margin-right>
            <ion-label stacked>Size</ion-label>
            <ion-segment [(ngModel)]="size">
              <ion-segment-button value="10">10</ion-segment-button>
              <ion-segment-button value="20">20</ion-segment-button>
              <ion-segment-button value="30">30</ion-segment-button>
              <ion-segment-button value="40">40</ion-segment-button>
            </ion-segment>
          </ion-col>
          <ion-col col-4>
            <ion-label stacked>Action</ion-label>
            <ion-segment [(ngModel)]="action">
              <ion-segment-button value="pu">PU</ion-segment-button>
              <ion-segment-button value="do">DO</ion-segment-button>
              <ion-segment-button value="sw">SW</ion-segment-button>
            </ion-segment>
          </ion-col>
          <ion-col col-2 margin-top>
            <ion-buttons end>
              <button ion-button icon-right color="royal" (click)="addStop()">
                Send
                <ion-icon name="send" class="blue"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="!connected">
      <p style="text-align: center;">You seem to be offline. Check you connection. </p>
    </div>
  </ion-toolbar>
</ion-footer>