page-driver{
  .date-string{
    color: #AAAAAA;
    font-style: italic;
  }
  .stop-msg.completed{
    background: #4cd964;
  }
  .stop-input button{
    height: 18px;
  }
  .stop-input button.bar-button-md[icon-only] ion-icon,.stop-input button.bar-button-ios[icon-only] ion-icon{ 
    font-size: 1.2em;
  }

  .toolbar .searchbar-ios .searchbar-input{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
  }
  ion-searchbar.searchbar{
    padding: 0;
  }
  .address-input ion-list.list.list-ios{
    marign-top: 0;
  }
  .searchbar-search-icon, .searchbar-search-icon, .searchbar-md.searchbar-has-focus.searchbar-show-cancel .searchbar-md-cancel{
    display: none;
  }
  .toolbar .searchbar-md{
    padding: 0;
  }
  .searchbar-md .searchbar-input-container .searchbar-input {
    box-shadow: none;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    padding: 5px;
  }

  .text-input-ios{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
  }
  .segment-md ion-segment-button.segment-button.segment-activated{
    background: #488AFF;
    color: #FFFFFF;
  }
  .segment-md .segment-button{
    height: 3rem;
    line-height: 3rem;
  }
  ion-icon.blue{
    color: #488AFF;
  }
  ion-buttons{
    margin-top: -1px;
  }
  ion-label.label-md{
    margin-top: 0;
    padding: 5px 0;
  }
  .comment-input .text-input-md{
    margin-top: 5px;
  }

  .segment-md ion-segment-button.segment-button {
    padding: 0 0;
  }
  .text-input-ios{
    margin: 5px 8px 5px 0;
  }
  .label-ios {
    margin: -8px 8px 8px -5px;
  }
  button.disable-hover.bar-button.bar-button-ios.bar-button-default.bar-button-default-ios.bar-button-ios-royal {
    position: relative;
    top: -10px;
  }
  .stop-msg {
    background: #498aff;
    margin: 10px 10px 10px 15px;
    border-radius: 0 20px 20px 20px;
    padding: 1px 10px;
    position: relative;
  }   
  .stop-msg.complete{
    background: #4caf50
  }
  .text-input-md{
    background: #FFFFFF;
    padding: 10px;
    margin: 0;
    border: 1px solid #CCCCCC;
  }

  .parking-input.select-md{
    background: #FFFFFF;
    padding: 10px;
    margin: 0;
    border: 1px solid #CCCCCC;
    width: calc(100% - 18px - 8px);
    box-sizing: border-box;
    margin-top: 5px;
  }
  .parking-input.select-ios{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  ion-item.parking-input.item-block .item-inner {
    border: none;
  }

}